.Page {
    padding-left: 25px;
}

.crematoryList {
    padding-bottom: 25px;
}

.searchInput {
    padding-bottom: 25px;
}

.returnLink {
    padding-top: 25px;
}

.submitButton {
    margin-top: 25px;
}